@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

@import 'tailwindcss';

@theme {
  --font-signika: 'Signika Negative', sans-serif;
  --color-text-dark: #292929;
  --color-text-primary: #737171;
  --color-theme: #974fd0;
  --color-theme-hover: #7f3fb2;
  --color-destructive: #f38383;
  --color-green: #73c3a6;
}
